<component name="libraryTable">
  <library name="springannlib">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../06第六阶段：Spring/软件/软件/springannlib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../06第六阶段：Spring/软件/软件/springannlib" recursive="false" />
  </library>
</component>